.faq .card .card-header button {
            padding: 0;

        }
        section {
          display: none;
          padding: 40px 30px;
          border-top: 1px solid #ddd;
          border: 1px solid #ddd;
        }

        input#tab1, input#tab2 {
          display: none;
        }
        label {
            display: inline-block;
            margin: 0 0 -1px;
            padding: 15px 20px;
            font-size: 18px;
            text-align: center;
            color: #006600;
            border: 1px solid #ddd;
            /*border-top: 2px solid #52B565;*/
            border-bottom: 1px solid #ddd;
            transition: all 0.2s;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            background-color: #FFF8DC;
            outline: none;
        }
        label:before {
          font-family: fontawesome;
          font-weight: normal;
          margin-right: 10px;
        }
        label[for*='1']:before {
          content: '\f1cb';
        }

        label[for*='2']:before {
          content: '\f17d';
        }
        label:hover {
          color: #333;
          cursor: pointer;
        }

        input:checked + label {
            color: #000;
            border: 1px solid #ddd;
            /*border-top: 2px solid #52B565;*/
            border-bottom: 1px solid #fff;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            background: #fff;
        }

        #tab1:checked ~ #content1,
        #tab2:checked ~ #content2,
        #tab3:checked ~ #content3,
        #tab4:checked ~ #content4 {
          display: block;
        }
        @media  only screen and (max-width: 400px) {
            label {
                padding: 5px;
                font-size: 14px;
            }
        }

        .me:hover {
          color:#000;
        }